* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Times New Roman", Times, serif;
  }
  .container {
    width: 80%;
    margin:auto
  }
  .main{
    display: flex;
    gap: 2px;
    width: 100%;
  }
  .box {   
    flex:auto;
    margin: auto;
    height: 100px;
    text-align: center;
    width: 100%; 
    max-width: 500px;
  }
  .right-menu a{
    font-size: 14px;
  }
  
  .link {
    display: block;
    margin: auto;
    font-size: 15px;
  }
  
  .logo > img {
    display: block;
    margin: 10px;
    margin: auto;
    width: 30%;
  }
  
  .search {
    text-align: center;
    display: block;
    background-color: #eeeeee;
    margin: 5px 0px;
  }
  
  label {
    display: block;
    margin: auto;
    font-weight: 520;
  }
  
  button {
    font-family: "Tahoma", Times, serif;
    margin: 2px;
    padding: 3px;
    font-size: 13px;    
  }
   
  footer {
    text-align: center;
    margin: 15px;
  }
  h3 {
    margin-top: 15px;
  }
 
  