* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 
               "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, 
               "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  width: 65%;
  height: 100%;
  margin: auto;
}
html {
  background-color: #000;
}
a {
  color: #4d90c0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #62aacc;
  background-color: #fff;
  padding: 0px 35px 0px 20px;
}
header a {
  font-size: 13px;
  font-weight: 600;
}
header img {
  width: 60%;
}
main {
  background-color: #e6e6e6;
  border: 2px solid #ccc;
  border-bottom: 4px solid #ccc;
  padding: 18px 30px 30px 30px;
}
section {
  background-color: #fff;
  padding-bottom: 20px;
}
.content {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px 20px 10px 20px;
}
.content-left h3 {
  color: #4d90c0;
  margin-left: 4px;
}
.content-left h3 + h3 {
  margin-bottom: 20px;
}
.content-img-text {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #8e8f9a;
}
.content-img-text img {
  width: 70px;
}
.content-img-text p {
  font-size: 13px;
  font-weight: 550;
}
.card-join {
  border: 2px solid #ccc;
  margin-right: 20px;
}
.card-header {
  background-color: #529dc1;
  color: white;
  padding: 5px;
}
.join-form-item {
  display: flex;
  justify-content: flex-end;
  column-gap: 5px;
  margin: 10px 10px;
  font-weight: bold;
  font-size: 14px;
}
.card-join form input[type="submit"] {
  background-color: #7aba15;
  color: #fff;
  border: 1px solid #53712b;
  padding: 2px 20px;
  margin: 5px 0px 5px 93px;
}
.card-join form p {
  font-size: 12px;
  margin: 5px 0px 5px 93px;
}
.card-join form a {
  font-weight: bold;
  text-decoration: none;
}
hr {
  border: 1px solid #ccc;
  margin: 15px 20px 15px 10px;
}
.content-footer {
  text-align: center;
  margin-bottom: 20px;
}
.content-footer input::placeholder {
  font-weight: bold;
  color: #a5b0ba;
}
.content-footer input {
  border: 1px solid #ccc;
}
.content-footer label {
  font-size: 18px;
  font-weight: bold;
  color: #6c7687;
}
.content-footer input[type="submit"] {
  font-weight: bold;
  background-color: #ccc;
  border: 1px solid #a5b0ba;
  padding: 2px 8px;
}
.content-footer input[type="text"] {
  padding: 2px;
  margin: 0px 5px;
}
.content-footer form {
  margin: 10px 0px 20px 0px;
}
.content-footer a {
  font-size: 14px;
  font-weight: 600;
  color: #4565a7;
  text-decoration: none;
}
.content-footer span {
  color: #ccc;
  font-weight: 600;
  font-size: 14px;
}
footer {
  background-color: #f7f7f7;
  padding-left: 30px;
  padding-bottom: 20px;
}
footer a {
  text-decoration: none;
}
footer p span:first-child {
  margin-right: 15px;
}
.footer-up-links {
  display: flex;
  column-gap: 25px;
  margin-bottom: 15px;
  padding-top: 20px;
}
.footer-up-links a {
  color: #5c7fa2;
  font-size: 14px;
  font-weight: 550;
}
.footer-up-links div:first-child p {
  color: gray;
  font-weight: bold;
  font-size: 14px;
  padding-top: 3px;
}
.corparation {
  color: #5c7fa2;
  font-size: 13px;
  font-weight: 550;
}

footer p:last-child {
  font-size: 13px;
}
footer p:last-child a {
  font-weight: 550;
}
i {
  color: #746f6f;
  margin-left: 4px;
}
